:root {
  --color-primary: #7380ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: #848bc82e;
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}
.table {
  background: var(--color-white);
  width: 100%;
  border-radius: var(--card-border-radius) !important;
  padding: var(--card-border-radius) !important;
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
  margin-top: 0.5rem;
}
table:hover {
  box-shadow: none;
}
table tbody td {
  height: 2.8rem;
  border-bottom: 1px solid var(--color-light);
  color: var(--color-dark-variant);
}
table tbody tr:last-child td {
  border: none;
}
.show-all {
  text-align: center;
  display: block;
  margin: 1rem auto;
  color: var(--color-primary);
}
.pagination {
  display: flex;
  gap: 0.7rem;
}
.pagination li {
  background: var(--color-warning);
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  border-radius: 50%;
  margin-top: 0.8rem;
}
.button {
  cursor: pointer;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-variant);
}
